body {background-color: rgb(9, 46, 46);}
h1 {background-color: blanchedalmond;color: rgb(9, 46, 46);
    font-weight: 900; font: optional; font-size: 75px;font-style: unset;}
h2 a{background-color: rgb(9, 46, 46);}